<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <style>
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        margin-bottom: 100px; 
        position: relative;
        overflow: hidden;
        min-height: 100%;
    }

    .video-bg {
        width: 100%;
        object-fit: cover; /* use "cover" to avoid distortion */
        position: relative;
        z-index: 2; 
        filter: brightness(50%);
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
    }

    </style>

    <body>
        <!-- Where first impressions are made. -->
        
        <div class="hero">

            <!-- Video that's playing on the front page. -->
            <video playsinline autoplay loop muted class="video-bg" id="introduction-video">
                <source src="/videos/promo-video.mp4" type="video/mp4">
            </video>

        </div>
        
    </body>
</html>