<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">2024 The Rock Lutheran Church | Seward, Nebraska</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <a href="https://www.facebook.com/therockseward/" style="text-decoration: none;">
                <i class="bi-facebook" style="font-size: 1.75rem; color: #1877F2; margin: 10px"></i>
            </a>
            <a href="https://www.youtube.com/c/TheRockSewardNebraska" style="text-decoration: none;">
                <i class="bi-youtube" style="font-size: 1.75rem; color: #FF0000; margin: 10px"></i>
            </a>
            <a href="https://vimeo.com/therockseward" style="text-decoration: none;">
                <i class="bi-vimeo" style="font-size: 1.75rem; color: #1AB7EA; margin: 10px"></i>
            </a>
        </ul>
    </footer>
</div>